.image-gallery {
  --columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: var(--columns);
  padding-bottom: 10px;
  padding-left: 0;
  margin-bottom: 0;

  @include breakpoint('<=medium') {
    --columns: repeat(2, 1fr);
    grid-template-columns: var(--columns);
  }

  @include breakpoint('<=small') {
    --columns: repeat(2, 1fr);
    grid-template-columns: var(--columns);
  }

  li {
    padding: 0;
    overflow: hidden;
    list-style: none;
    line-height: 0;

    a {
      display: inline-block;
      text-decoration: none !important;
      border-bottom: none;
      color: #777;
      margin: 0 !important;
      overflow: hidden;
      vertical-align: top;
      object-fit: cover;
      width: 100%;

      &:hover {
        img {
          @include vendor('transform', 'scale(1.05)');
        }
      }

      img {
        width: 100%;
        @include vendor('transition', 'transform 0.2s ease-out');
      }
    }
  }
}

.image-gallery-3 {
  --columns: repeat(3, 1fr);
  grid-template-columns: var(--columns);

  @include breakpoint('<=medium') {
    --columns: repeat(2, 1fr);
    grid-template-columns: var(--columns);
  }
}

.image-gallery-2 {
  --columns: repeat(2, 1fr);
  grid-template-columns: var(--columns);
}

.image-gallery-1 {
  --columns: 1fr;
  grid-template-columns: var(--columns);
}