.image-gallery {
  overflow: auto;
  margin-left: -1% !important;
  padding-left: 0;
  margin-bottom: 0;

  li {
    padding-left: 0;
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 24%;
    overflow: hidden;

    a {
      text-align: center;
      text-decoration: none !important;
      color: #777;

      &:hover {
        img {
          @include vendor('transform', 'scale(1.05)');
        }
      }

      span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
      }

      img {
        width: 100%;
        display: block;
        @include vendor('transition', 'transform 0.2s ease-out');
      }
    }
  }
}

.image-gallery>li {
  @include breakpoint('<=large') {
    width: 32%;
  }

  @include breakpoint('<=small') {
    width: 49%;
  }
}

.image-gallery-3>li {
  width: 32.3333%;

  @include breakpoint('<=small') {
    width: 49%;
  }
}

.image-gallery-2>li {
  width: 49%;
}

.image-gallery-1>li {
  width: 99%;
}