{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
{{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
{{ $browser := resources.Get "js/browser.min.js" }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" }}
{{ $util := resources.Get "js/util.min.js" }}
{{ $main := resources.Get "js/main.min.js" }}
{{ $lightbox := resources.Get "js/lightbox.min.js" }}

{{ $js := slice $jQuery $scrollex $scrolly $browser $breakpoints $util $main $lightbox | resources.Concat
"assets/js/bundle.js" }}

<!-- Scripts -->
<script src='{{ $js.RelPermalink }}'></script>
<script>
  lightbox.option({
    'disableScrolling': true,
    'positionFromTop': 0,
    'fadeDuration': 0,
    'imageFadeDuration': 0,
    'resizeDuration': 0,
    'showImageNumberLabel': false,
    'wrapAround': true
  })
</script>